@model Website.Models.Game.EndGameModel
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
hej
<h3>@Model.GameId</h3>

<p>@Model.PlayerOneScore</p>
<p>@Model.PlayerTwoScore</p>
